.horizontal-navbar {
    display: flex;
    justify-content: space-between;
}

.navlinks {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: right;
}

.nav {
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 999;
}