<nav class="nav">
    <div class="container horizontal-navbar">
        <div class="logo" id="logo-argentina-programa">
            <a href="#">
                aca va el logo de argentina programa
            </a>
        </div>
        <div class="logo" id="logo-marca-personal">
            <a href="#">
                aca va un logo animado
            </a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="#">Home</a></li>
                <li><a href="#skill-page">Skills</a></li>
                <li><a href="#formacion-page">Formación</a></li>
                <li><a href="#proyectos-page">Proyectos</a></li>
                <li><a href="#contacto-page">Contacto</a></li>
                <li><a href="#">login</a></li>
            </ul>
        </div>
        <span class="navTrigger">
    <i></i>
    <i></i>
    <i></i>
  </span>
    </div>
</nav>