<!-- coloco un container -->

<div class="container">
    <!--   un div al que se le aplica la clase accordion -->
    <div id="accordion">

        <!-- el acordion tiene un div con una clase card -->
        <div class="card">

            <!-- un div con el data-parent al id accordion, oculto por defecto conteniendo el div con la clase card body-->
            <div id="collapse-arriba" class="collapse hidden" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
            <!-- el div con la clase card-header conteniendo las imagenes de los institutos -->
            <div class="card-header" id="headingOne">

                <!-- imagenes con el data-toggle para mostrar y ocultar la card body -->
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-arriba" aria-expanded="true" aria-controls="collapse-arriba">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-abajo" aria-expanded="true" aria-controls="collapse-abajo">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-arriba" aria-expanded="true" aria-controls="collapse-arriba">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-abajo" aria-expanded="true" aria-controls="collapse-abajo">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-arriba" aria-expanded="true" aria-controls="collapse-arriba">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-abajo" aria-expanded="true" aria-controls="collapse-abajo">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-arriba" aria-expanded="true" aria-controls="collapse-arriba">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-abajo" aria-expanded="true" aria-controls="collapse-abajo">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-arriba" aria-expanded="true" aria-controls="collapse-arriba">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-abajo" aria-expanded="true" aria-controls="collapse-abajo">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-arriba" aria-expanded="true" aria-controls="collapse-arriba">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-abajo" aria-expanded="true" aria-controls="collapse-abajo">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-arriba" aria-expanded="true" aria-controls="collapse-arriba">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-abajo" aria-expanded="true" aria-controls="collapse-abajo">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-abajo" aria-expanded="true" aria-controls="collapse-abajo">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-arriba" aria-expanded="true" aria-controls="collapse-arriba">
                <img src="./assets/img/formacion/egg.svg" width="150px" alt="" class="btn btn-link" data-toggle="collapse" data-target="#collapse-abajo" aria-expanded="true" aria-controls="collapse-abajo">
            </div>

            <!-- un div con el data-parent al id accordion, oculto por defecto conteniendo el div con la clase card body-->
            <div id="collapse-abajo" class="collapse hidden" aria-labelledby="collapse-abajo" data-parent="#accordion">
                <div class="card-body well">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                    on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                    raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </div>
    </div>
</div>